.VR_TA {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cross_btn_TPTA {
  width: 10vw;
  position: absolute;
  top: 2rem;
  left: 1.24rem;
}

.Avatar_manage_TPTA {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.Title_TPTA {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 48.5vh;
  height: 9vh;
  width: 65vw;
  z-index: 89;
  color: var(--Light-Light--100, #fff);
  text-align: center;
  text-shadow: 0px 1px 0px var(--Dark-Rich-Dark, #030406);
  -webkit-text-stroke-width: 0.6153846383094788;
  -webkit-text-stroke-color: var(--Dark-Rich-Dark, #030406);
  font-family: Saira;
  /* font-size: 30px; */
  font-size: 3.75vh;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 36px */
  letter-spacing: 0.6px;
}

.Avatar_Badge_TPTA {
  height: 9vh;
  width: 43vw;
  position: absolute;
  top: 5.5vh;
  /* margin-left: -3vw; */
  z-index: 88;
}

.Avatar_BadgeText_TPTA {
  position: absolute;
  height: 8vh;
  width: 14vw;
  z-index: 88;
  top: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: Gilroy;
  font-size: 2.25vh;
  font-style: normal;
  font-weight: 800;
  line-height: 89.655%;
}
.Avatar_BadgeText_TPTA span {
  color: var(--Dark-Dark--100, #0e1928);
  font-family: Gilroy;
  font-size: 1.3vh;
  font-style: normal;
  font-weight: 700;
  line-height:141.667%;
}
.AvatarCard_VRTA {
  position: absolute;
  width: 80vw;
  height: 54vh;
  top: 10vh;
}
.UserAvatar_VRTA{
  position: absolute;
  width: 72vw;
  height: 45vh;
  top: 18vh;
}

.Tvote_img_TPTA {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1vw;
  border-radius: 40px;
  background: var(--Dark-Dark--80, #273343);
  width: 72vw;
  padding: 4px 6px;
  position: relative;
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.circular-div_RV_TPTA {
  /* width: 2rem; */
  width: 4vh;
  /* height: 2rem; */
  height: 4vh;
  border-radius: 50%;
  border-color: #fff;
  overflow: hidden;
  margin-left: -13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-div_RV_TPTA img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  /* border-radius: 50%; */
}

.votecnt_TPTA {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2.4vw;
  border-radius: 40px;
  background: var(--Dark-Dark--60, #526175);
  padding: 4px 8px;
  /* width: 40%; */
}
.votecnt_TPTA span {
  color: #fff;
  font-family: Gilroy;
  /* font-size: 12px; */
  font-size: 1.5vh;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
}

.Reveal_Comp_TPTA {
  position: relative;
  width: 89vw;
  height: 17.3vh;
  flex-shrink: 0;
  border-radius: 3vh;
  background: var(--Dark-Dark--90, #1d2939);
  margin-top: 66.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vh;
}
.vote_FB_TPTA_RV {
  /* width: 237px; */
  width: 65vw;
  color: var(--Light-Light--90, #f0f4f8);
  text-align: center;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
}
.vote_FB_TPTA_RV span {
  color: #ff5af9;
}

.sharing_contn_TPTA {
  margin-top: 3.4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5vh;
}
.sharing_contn_TPTA > span {
  color: var(--Light-Light--70, #bcc9da);
  text-align: center;
  font-family: Gilroy;
  /* font-size: 12px; */
  font-size: 1.5vh;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

.sharing_TPTA_RV {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2.5vw;
}

.sharing_TPTA_RV div {
  width: 35vw;
  /* height: 40px; */
  height: 5vh;
  flex-shrink: 0;
  border-radius: 20px;
  background: radial-gradient(
    299.05% 136.2% at 4% 100%,
    #ffd900 0%,
    #ff3152 47%,
    #4964d7 100%
  );
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
}
.sharing_TPTA_RV div span {
  color: var(--Light-Light--100, #fff);
  text-align: center;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.share_snap_TPTA,
.share_oth_TPTA {
  width: 12.5vw;
}
.RV_btn_TPTA {
  margin-top: 2vh;
  display: flex;
  /* width: 206px; */
  width: 64.5%;
  min-width: 110px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--x-Large, 999px);
  background: var(--Primary-Primary-100, #c6ff00);
  border: 0px;
}
.RV_btn_TPTA span {
  color: var(--Dark-Rich-Dark, #030406);
  text-align: center;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.857%;
}

/* Sharing Card */

.svg1_SC_VR {
  position: fixed;
  bottom: 28vh;
  left: 3vh;
}
.svg2_SC_VR {
  position: fixed;
  bottom: 25vh;
  right: 3vh;
}
.svg3_SC_VR {
  position: fixed;
  top: 20vh;
  right: 3vh;
}

.sharingCard_VRTA {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--Dark-Dark--100, #0e1928);
}

/* .sharingCard_TPTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--Dark-Dark--100, #0E1928);
} */
.AvatarCardS_TPTA {
  position: relative;
  height: 50vh;
  margin: 1.2vh 14vw auto;
}
.BadgeS_TPTA {
  position: relative;
  width: 64vw;
  margin-top: 5vh;
  margin-right: 0.6vh;
}
.AvatarBox_contnS_TPTA {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar_ContS_TPTA {
  position: absolute;
  top: 41vh;
  /* left: 50%; */
  height: 10vh;
  width: 60vw;
  z-index: 88;
  transform: translate(0%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Light-Light--100, #fff);
  text-align: center;
  text-shadow: 0px 1px 0px var(--Dark-Rich-Dark, #030406);
  -webkit-text-stroke-width: 0.6153846383094788;
  -webkit-text-stroke-color: var(--Dark-Rich-Dark, #030406);
  font-family: Saira;
  font-size: 21px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 25.2px */
  letter-spacing: 0.42px;
}
.words_TPTA {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 0.7vh;
}
.words_TPTA span:nth-child(1) {
  color: var(--Accent-Accent--02-Accent-02, #ff8afb);
  text-align: center;
  font-family: Gilroy;
  font-size: 15.767px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.521px;
}
.words_TPTA span:nth-child(2) {
  margin-top: 0.5vh;
  width: 235px;
  color: var(--Light-Light--100, #fff);
  text-align: center;
  font-family: Gilroy;
  font-size: 13.514px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.521px; /* 144.444% */
}
.svg1_TPTA {
  position: relative;
  margin-top: 1.5vh;
}
.wyb_TSTP_lanG {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  margin: 2vh;
}

.SS_send {
  z-index: -5;
}
