.AchievementPage_TA {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cross_btn_TPTA {
  width: 10vw;
  position: absolute;
  top: 2.44rem;
  left: 1.44rem;
}
.AvatarCard_TPTA {
  position: absolute;
  height: 50vh;
  top: 12vh;
}
.Badge_TPTA {
  position: relative;
  width: 66vw;
  margin-top: 65vh;
}
.feedback-txt_TPTA {
  width: 280px;
  color: var(--Light-Light--70, #bcc9da);
  text-align: center;
  font-family: Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  position: relative;
  margin-top: 2vh;
}
.sharing_TPTA {
  margin-top: 2vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2.5vw;
}

.sharing_TPTA div {
  width: 35vw;
  /* height: 40px; */
  height: 5vh;
  flex-shrink: 0;
  border-radius: 20px;
  background: radial-gradient(
    299.05% 136.2% at 4% 100%,
    #ffd900 0%,
    #ff3152 47%,
    #4964d7 100%
  );
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
}
.sharing_TPTA div span {
  color: var(--Light-Light--100, #fff);
  text-align: center;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.share_snap_TPTA,
.share_oth_TPTA {
  width: 12.5vw;
}

/* Sharing Card */
.sharingCard_TPTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 90vh;
}
.AvatarCardS_TPTA {
    position: absolute;
    height: 50vh;
    top: 30vh;
  }
  .BadgeS_TPTA {
    position: relative;
    width: 66vw;
    margin-top: 5vh;
  }
.words_TPTA{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.words_TPTA span:nth-child(1) {
  color: var(--Accent-Accent--02-Accent-02, #ff8afb);
  text-align: center;
  font-family: Gilroy;
  font-size: 15.767px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.521px;
}
.words_TPTA span:nth-child(2) {
  width: 235px;
  color: var(--Light-Light--100, #fff);
  text-align: center;
  font-family: Gilroy;
  font-size: 13.514px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.521px; /* 144.444% */
}
.svg1_TPTA{
    position: relative;
    margin-top: 56vh;
}
.wyb_TSTP_lanG{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin-top: 1.2vh;
}