.Page1 {
  background: #5929e0;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
}
.background-page1 {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.svg1-pg1 {
  position: absolute;
  top: -40px;
}
.svg2-pg1 {
  position: absolute;
  top: 18%;
}
.close-page1-pg1 {
  background-color: transparent;
  outline: none;
  border: none;
}
.heading-p1 {
  width: 100vw;
  text-align: center;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 7%;
}
.heading-sub-p1 {
  color: var(--Accent-Accent--02-Accent-02, #ff8afb);
  text-align: center;
  font-family: Gilroy;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.lower-buttons {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  position: absolute;
  bottom: 2%;
  z-index: 11;
}
.mid-pg1 {
  color: var(--Light-Light--100, #fff);
  text-align: center;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;
  gap: 3px;
  border-radius: var(--x-Large, 999px);
  background: rgba(5, 5, 5, 0.2);
  outline: none;
  border: none;
}
.mid-button-pg1 {
  position: absolute;
  top: 55.5%;
  z-index: 11;
}
.svg5-pg1 {
  z-index: 11;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 19vh;
}

.Gif_Badge {
  width: 90vw;
}
.TBH_Title_pg1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--Dark-Dark--100, #0e1928);
  font-family: Gilroy Bold;
  font-size: 2.2vh;
  font-style: normal;
  font-weight: 800;
  line-height: 144.444%;
}

.image1-p1 {
  z-index: -4;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2vh;
  height: 20vh;
  width: 75vw;
  border-radius: 1.5vh;
  border: 0.3vh solid var(--Dark-Rich-Dark, #030406);
  overflow: hidden;
}

.tbhQues_titleImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border-radius: inherit; */
}

.shuffle {
  color: white;
  display: flex;
  width: 155px;
  height: 40px;
  min-width: 80px;
  padding: 16px 14px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: none;
  outline: none;
  border-radius: var(--x-Large, 999px);
  background: var(--Dark-Dark--80, #273343);
  box-shadow: 1px 1px 0px 0px #090909;
  font-family: Gilroy;
  z-index: 11;
}
.skip {
  color: white;
  display: flex;
  width: 80px;
  height: 40px;
  min-width: 80px;
  padding: 16px 14px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: var(--x-Large, 999px);
  border: none;
  outline: none;
  background: var(--Dark-Dark--80, #273343);
  font-family: Gilroy;
  z-index: 11;
}
.text-sub-p1 {
  margin-top: -13px;
  color: var(--Light-Light--100, #fff);
  width: 80%;
  text-align: center;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.your-titles {
  background-color: transparent;
}
.Upper-buttons-page1 button {
  outline: none;
  border: none;
}
.Upper-buttons-page1 {
  z-index: 999;
  width: 90vw;
  position: absolute;
  top: 2%;
  display: flex;
  justify-content: space-between;
}
@media (max-height: 835px) {
  .svg3-pg1 {
    top: 23% !important;
  }
}
.svgg7-pg1 {
  position: absolute;
  top: 32%;
  z-index: 9;
}
.cross_btn-pg1 {
  width: 10vw;
}
@media (min-height: 895px) {
  .mid-pg1 {
    font-size: 18px;
  }
  .svg3-pg1 {
    top: 26% !important;
  }
  .svg2-pg1 {
    top: 20% !important;
  }
}
@media (max-height: 745px) {
  .mid-button-pg1 {
    top: 57% !important;
  }
}
.svg3-pg1 {
  position: absolute;
  top: 24%;
}
.svg4-pg1 {
  position: absolute;
  top: -20%;
  z-index: 9;
}


/* Animations */


.svg5-pg1, .mid-button-pg1, .lower-buttons {
  opacity: 0;
  transform: translateY(5px); 
  transition: all 0.5s ease-in-out;
}


@keyframes fadeIn {
  to {
      opacity: 1;
      transform: translateY(0); 
  }
}


.svg5-pg1 {
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 0.25s; 
}

.mid-button-pg1 {
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: .4s; 
}

.lower-buttons {
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 1.2s; 
}
