.page2 {
  background: var(--Dark-Dark--100, #0e1928);
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
}

.your-titles {
  background-color: transparent;
  margin-right: -0.6vh;
}
.your-titles svg {
  width: 17vh;
}
.main-text-3 {
  position: absolute;
  bottom: 18%;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
}
.Main-p2-text-3 {
  color: var(--Light-Light--70, #bcc9da);
  text-align: center;
  font-family: Gilroy;
  font-size: 1.75vh;
  font-style: normal;
  margin: 0px;
  font-weight: 500;
  line-height: 17px; /* 141.667% */
}
.main-text-2 {
  position: absolute;
  top: 63%;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.Main-p2-text-2 {
  color: var(--Light-Light--70, #bcc9da);
  text-align: center;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 141.667% */
  width: 70%;
}
.Upper-buttons-page1 button {
  outline: none;
  border: none;
}
.Upper-buttons-page1 {
  z-index: 999;
  width: 90vw;
  position: absolute;
  top: 2%;
  display: flex;
  justify-content: space-between;
}

.close-page1 {
  border-radius: var(--x-Large, 999px);
  background: var(--Light-Alpha-Light-Alphat--10, rgba(255, 255, 255, 0.1));
  display: flex;
  width: 32px;
  height: 32px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: white;
  margin-top: 10px;
}
.background-page2 {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.Main-p2-text {
  color: var(--Accent-Accent--02-Accent-02, #ff8afb);
  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: var(--Accent-Accent--02-Accent-02--Dark, #ae11a9);
  font-family: Gilroy Bold;
  font-size: 3vh;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  width: 80%;
}

@media (min-width: 450px) {
  .Tribe-Title {
    padding-bottom: 105px !important;
  }
}
.main-text {
  position: relative;

  width: 90vw;
  display: flex;
  justify-content: center;
}
.svg1-pg2 {
  transform: rotate(3deg);
  position: absolute;
  top: -29%;
}
.last-button-1 {
  color: var(--Neutral-Rich-Dark, #090909);
  text-align: center;
  font-family: Gilroy;
  font-size: 1.7vh;
  font-style: normal;
  font-weight: 700;
  line-height: 142.857;
  display: flex;
  width: 200px;
  height: 46px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border-radius: var(--x-Large, 999px);
  border: 1px solid var(--Dark-Dark--100, #0e1928);
  background: var(--Primary-Primary-100, #c6ff00);
  box-shadow: 1px 1px 0px 0px #0e1928;
}
.last-button-3 {
  background-color: transparent;
  color: var(--Light-Light--100, #fff);
  text-align: center;
  display: flex;
  width: 30vw;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: none;
  outline: none;
  /* P3/P3-SemiBold */
  font-family: Gilroy;
  font-size: 1.6vh;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
.last-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  gap: 20px;
  position: absolute;
  bottom: 4vh;
}
.Tribe-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.time-left {
  position: relative;
}
.keep {
  color: var(--Dark-Dark--50, #79889d);
  text-align: center;

  /* Caption-2/Caption-2-Medium */
  font-family: Gilroy;
  font-size: 10px;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 40px;
  font-weight: 500;
  line-height: 15px; /* 150% */
}
.See-you-back-pg2 {
  position: relative;
}
.see-you-text {
  color: var(--Light-Light--70, #bcc9da);
  text-align: center;

  /* Caption-1/Caption-1-Medium */
  font-family: Gilroy;
  font-size: 1.45vh;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 141.667% */
}
.center-line-pg2 {
  position: relative;
}
.Tribe-Title img {
  width: 70vw;
  position: relative;
  margin-bottom: -2vh;
}
.Tribe-Title {
  position: absolute;
  top: 24%;
  gap: 0px;
  width: 80vw;
  height: 250px;
  padding-bottom: 80px;
  border-radius: 20px;
  background: var(--Dark-Dark--90, #1d2939);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9;
}
