.VR_TA {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cross_btn_TPTA {
  width: 10vw;
  position: absolute;
  top: 2.44rem;
  left: 1.44rem;
}
.AvatarCard_TPTA {
  position: absolute;
  height: 50vh;
  top: 12vh;
}

.circular-div_RV_TPTA {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -2.2vh;
}

.circular-div_RV_TPTA img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.Reveal_Comp_TPTA {
  position: relative;
  width: 89vw;
  height: 20.3vh;
  flex-shrink: 0;
  border-radius: var(--large, 12px);
  background: var(--Dark-Dark--90, #1d2939);
  margin-top: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vh;
}
.vote_FB_TPTA_RV {
  /* width: 237px; */
  width: 65vw;
  color: var(--Light-Light--90, #f0f4f8);
  text-align: center;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
}
.vote_FB_TPTA_RV span {
  color: #ff5af9;
}

.sharing_TPTA_RV {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2.5vw;
}

.sharing_TPTA_RV div {
  width: 35vw;
  /* height: 40px; */
  height: 5vh;
  flex-shrink: 0;
  border-radius: 20px;
  background: radial-gradient(
    299.05% 136.2% at 4% 100%,
    #ffd900 0%,
    #ff3152 47%,
    #4964d7 100%
  );
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
}
.sharing_TPTA_RV div span {
  color: var(--Light-Light--100, #fff);
  text-align: center;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.share_snap_TPTA,
.share_oth_TPTA {
  width: 12.5vw;
}
.RV_btn_TPTA {
  margin-top: 2vh;
  display: flex;
  width: 206px;
  min-width: 110px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--x-Large, 999px);
  border: 1px solid var(--Light-Light--100, #fff);
  background: transparent;
}
.RV_btn_TPTA span {
  color: var(--Light-Light--100, #fff);
  text-align: center;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

/* Sharing Card */
.sharingCardRV_TPTA {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--Dark-Dark--100, #0e1928);
}
.circular-div_RVC_TPTA {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh;
}

.circular-div_RVC_TPTA img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.cardinfoshr_TATP {
  width: 67.5vw;
  color: var(--Accent-Accent--03-Accent-03, #fcff40);
  text-align: center;
  text-shadow: 0px 1px 0px #ff55f8;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: var(--Dark-Rich-Dark, #030406);
  font-family: Gilroy;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.badgeinfoshr_TATP {
  width: 65.35vw;
  color: var(--Light-Light--100, #fff);
  text-align: center;
  font-family: Gilroy;
  font-size: 13.514px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.521px;
  margin: 2vh;
}

.cardinfoshr_TATP_Reveal {
  width: 67.5vw;
  color: var(--Light-Light--100, #fff);
  text-align: center;
  text-shadow: 0px 1px 0px #ff55f8;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: var(--Dark-Rich-Dark, #030406);
  font-family: Gilroy;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.cardinfoshr_TATP_Reveal span {
  color: var(--Accent-Accent--03-Accent-03, #fcff40);
  text-align: center;
  text-shadow: 0px 1px 0px #ff55f8;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: var(--Dark-Rich-Dark, #030406);
  font-family: Gilroy;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; 
}
