.box1-pg1 ,.box2-pg1{
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12px;
}
@media (min-height:835px) {
.box1-pg1,.box2-pg1{
    margin-bottom: 20px;
}
}
@media (min-height:895px) {
    .box1-pg1,.box2-pg1{
        margin-bottom: 25px;
    }
    }
.main-box-pg1{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 20px;
    z-index: 11;
    position: absolute;
    bottom: 8vh;
}

.main-box-pg1 > * {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.4s ease forwards;
}

.main-box-pg1 > *:nth-child(1) {
    animation-delay: 0s;
}

.main-box-pg1 > *:nth-child(2) {
    animation-delay: 0.25s;
}

.main-box-pg1 > *:nth-child(3) {
    animation-delay: .5s;
}

.main-box-pg1 > *:nth-child(4) {
    animation-delay: .75s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.grid-item {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .grid-item:hover {
    transform: scale(1.05);
  }